.top-bar {
  background-color: #333;
  color: white;
  padding: 5px 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
}
.typewriter span {
  overflow: hidden;
  font-weight: 800;
  border-right: 3px solid white;
  white-space: nowrap;
  display: inline-block;
  animation: typing 5s steps(30, end) infinite alternate,
    blink-caret 0.75s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.text-green {
  color: #084A62;
  /* color: #c1a43a; */
  /* color: #8cbc43 !important;; */
}

.back-green {
   background-color: #084A62;
  /* background-color: #c1a43a; */
  /* background-color: #8cbc43 !important; */
}

.icon-img-box{
  height: 120px;
  width:120px;
}
.icon-img-box img{
  height: 100%;
  width: 100%;
}

.navbar {
  padding: 10px 0;
}

/* Navbar links styling */
.navbar-nav .nav-link {
  color: black;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 15px;
  transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  /* color: #c1a43a !important; */
   color: #084A62 !important;
}

/* Dropdown styling */
.dropdown-menu {
  border-radius: 5px;
  border: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

}

.dropdown-item {
  padding: 10px 10px;
}

.dropdown-item:hover {
  background-color: #f8f9fa;
  /* color: #c1a43a; */
  color: #084A62 !important;
}


/* Phone number section */
@media (max-width: 992px) {
  .navbar-brand img {
    height: 60px;
  }

  .navbar-nav {
    text-align: center;
  }

  .nav-item {
    margin-bottom: 5px;
  }

  .d-lg-flex {
    justify-content: center;
    width: 100%;
    padding-top: 10px;
  }
}

.nav-item .nav-link {
  /* padding: 10px 5px; */
  margin: 10px 30px;
  font-weight: bold;
  font-size: large;
  color: #000000;
}

.nav-item:hover .nav-link:hover {
  /* color: #c1a43a; */
  color: #084A62 !important;
}


.nav-item .nav-link.active {
  /* color: #c1a43a !important; */
  color: #084A62 !important;
}

.dropdown-hover:hover > .dropdown-menu {
  display: inline-block;
}

.dropdown-hover > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}
.mega-dropdown {
  position: absolute;
  left: 0;
  background: white;
  display: none;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.dropdown:hover .mega-dropdown {
  display: block;
    min-width: 200px;
}
.mega-dropdown .row {
  display: flex;
  justify-content: center;
}
.mega-dropdown .col {
  padding: 10px;
  text-align: center;
}
.mega-dropdown .col h6 {
  font-weight: bold;
}
.mega-dropdown a {
  display: inline-block;
  margin: 0 15px;
  padding: 5px 0;
  color: #333;
  text-decoration: none;
}
.mega-dropdown a:hover {
color:  #084A62 !important;
/* background-color: #084A62 !important; */
}

.mega-dropdown-in {
  position: absolute;
  width: 400px;
  left: 0;
  background: white;
  display: none;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.dropdown:hover .mega-dropdown-in {
  display: block;
}
.mega-dropdown-in .row {
  display: flex;
  justify-content: center;
}
.mega-dropdown-in .col {
  padding: 10px;
  text-align: center;
}
.mega-dropdown-in .col h6 {
  font-weight: bold;
}
.mega-dropdown-in a {
  display: inline-block;
  margin: 0 15px;
  padding: 5px 0;
  color: #333;
  text-decoration: none;
}
.mega-dropdown-in a:hover {
  color: #007bff;
}

/* Slideshow and Image Animations */
.carousel-item img {
  transition: transform 1s ease-in-out;
}
.carousel-item.active img {
  animation: zoomIn 2s ease-in-out;
}
@keyframes zoomIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* background: rgba(0, 0, 0, 0.5); */
  padding: 20px;
  color: rgb(5, 5, 5);
  border-radius: 10px;
}

.carousel-item img {
  width: 100%;
  /* height: 100vh; */
  object-fit: cover;
}

.btn-get-started {
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  /* text-transform: uppercase; */
  color: rgb(0, 0, 0);
  background: linear-gradient(90deg, #c1a43a, #fff3cd);
  border: none;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  box-shadow: 0 4px 10px rgba(255, 60, 0, 0.3);
}

.btn-get-started:hover {
  background: linear-gradient(90deg, #fff3cd, #c1a43a);
  transform: scale(1.1);
  box-shadow: 0 6px 15px rgba(255, 60, 0, 0.5);
}

.carousel-caption h3 {
  font-size: 32px;
  font-weight: bold;
}

.carousel-caption p {
  font-size: 18px;
  margin-bottom: 20px;
}

.box-container {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin: 10px;
}

.box-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.icon-box-row {
  font-size: 30px;
  color: #c1a43a;
  margin-right: 15px;
}

.text-box h6 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.text-box p {
  font-size: 14px;
  color: #555;
  margin: 0;
}
.custom-list {
  list-style: none;
  padding: 0;
}

.custom-list li {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  padding: 5px 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.custom-list li:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.icon-box {
  background-color: #c1a43a;
  color: white;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 10px;
  margin-right: 10px;
}



.magicpattern {
  width: 100%;
  min-height: 400px; /* Ensures it remains visible on small screens */
  height: auto; /* Makes it flexible */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* display: flex;  */
  align-items: center; /* Centers content vertically */
  justify-content: center; /* Centers content horizontally */
  padding: 50px 15px; /* Adds responsive spacing */
  background-image: url("../images/magicpattern.png");
 
}

.bgimg {
  /* background-image: url("https://template.creativemox.com/taxplan/wp-content/uploads/sites/24/2024/06/BG-header.png"); */
  background-image: url("../images/industries-bg-img.png"); 
  width: 100%;
  min-height: 400px; /* Ensures it remains visible on small screens */
  height: auto; /* Makes it flexible */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* display: flex;  */
  align-items: center; /* Centers content vertically */
  justify-content: center; /* Centers content horizontally */
  padding: 50px 15px; /* Adds responsive spacing */
}

/* Responsive adjustments */
@media (max-width: 992px) {
  .bgimg {
    min-height: 350px;
    padding: 40px 10px;
  }
}

@media (max-width: 768px) {
  .bgimg {
    min-height: 300px;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .bgimg {
    min-height: 250px;
    padding: 20px 10px;
    background-position: top center; /* Adjusts for smaller screens */
    display: flex;
    flex-direction: column;
  }
}

.circle {
  height: 70px;
  width: 70px;
  /* border-radius: 50%; */
  border: 2px solid white;
  /* display:none; */
}

.line {
  height: 5px;
  width: 50px;
  border-radius: 5px;
  background-color: white;
}

.bgimg2 {
  background-image: url(https://cleanfin-demo.pbminfotech.com/demo7/wp-content/uploads/sites/18/2024/11/about-img-02.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* About Us Styles Start */

.icon-img {
  width: 40px;
  height: auto;
}

/* .bgimg {
  background-size: cover;
  background-position: center;
} */

.img-fluid {
  max-width: 100%;
  height: auto;
}

.custom-list {
  list-style: none;
  padding: 0;
}

.custom-list li {
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .bgimg {
    padding: 20px;
  }

  .fs-6 {
    font-size: 1rem;
  }

  .lh-base {
    line-height: 1.6;
  }
  .box15-footer .container {
    padding: 20px;
  }
  .container {
    padding: 20px;
  }

  .icon-img {
    width: 35px;
  }

  .fw-bold {
    font-size: 1.1rem;
  }
}

.box15-footer {
  /* background-color: #c1a43a; */
  background-color: #084A62;
}
.line,
.line2 {
  width: 50px;
  height: 3px;
  background-color: white;
  margin: auto;
}

/* Contact Us Styles  */

.contact-section {
  padding: 60px 0;
}
.contact-form {
  background: #f8f9fa;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.form-control:focus {
  border-color: #007bff;
  box-shadow: none;
}
.btn-custom {
  background: #007bff;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  width: 100%;
}
.btn-custom:hover {
  background: #0056b3;
}
.contact-info {
  /* background: #007bff; */
  color: rgb(0, 0, 0);
  padding: 30px;
  border-radius: 10px;
}
.contact-info h5 {
  font-weight: bold;
}
.contact-info i {
  margin-right: 10px;
}
@media (max-width: 768px) {
  .contact-info {
    margin-bottom: 20px;
  }
}


.zoom-box-hover{
  box-shadow: 0 4px 20px rgba(23, 21, 21, 0.3);
}
      .zoom-box-hover:hover {
        transform: scale(1.05);
        transition: .3s ease;
         /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15); */
         box-shadow: 0 4px 20px rgba(23, 21, 21, 0.3);
           /* box-shadow: 5px 6px 7px 0px rgba(23, 21, 21, 0.2); */
       
      }
